@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p class="display-5">Display a Key vault secret Azure SDK</p>
    <p>@Model.DemoSecret</p>

    <hr />

    <p class="display-5">Display a Key vault secret ASP.NET Core Configuration</p>
    <p>@Model.DemoSecretConfig</p>
</div>

